# dependencias
/node_modules
/.pnp
.pnp.js

# build artifacts
/dist
/build
/out
/coverage
/.next/      # para proyectos de Next.js
/.cache/     # para proyectos de Next.js u otros que usen cache

# archivos del entorno (variables secretas, etc)
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# archivos de IDEs y editores (Visual Studio Code, JetBrains, etc)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# archivos de npm / yarn
npm-debug.log
yarn-error.log
package-lock.json # se puede ignorar si el equipo usa yarn o pnpm
yarn.lock # se puede ignorar si el equipo usa npm