/* Reseteos y estilos generales */
:root {
  --color-background-dark: #121212;
  --color-text-primary: #e2f0f0;
  --color-accent-turq: #8bc5bf;
  --color-accent-pink: #e29ba7;
  --color-card-bg: #232323; 
  --color-about-bg: #b7dbd8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  color: var(--color-text-primary);
  background-color: var(--color-background-dark);
  min-height: 100vh;
  min-width: 288px;
  overflow-x: hidden;
  line-height: 1.15;
}


/* Header */
.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 16px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-50vw + 50%);
  width: 100vw;
  height: 100%;
  background: var(--color-background-dark);
  z-index: -1;
}

@media(min-width: 768px){
  .header {
    flex-direction: row;
  }
}

.header h1 {
  font-size: 2rem;
  color: var(--color-accent-turq);
  margin: 0 0 16px;
}
@media(min-width: 768px){
  .header h1 {
    font-size: 2.75rem;
  }
}

.header h1 small {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
}

.header-link {
  color: var(--color-accent-turq);
  text-decoration: none;
}

.links {
  display: flex;
}

.link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8125rem;
  color: var(--color-accent-pink);
  margin-right: 16px;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #f7e6e9;
}

@media only screen and (min-width: 768px) {
  .link {
    font-size: 2.5rem;
  }
}

/* Contenedor principal */
.content-wrapper {
  margin: 0 auto;
  padding: 16px;
}

@media only screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 1168px;
    padding: 32px;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-accent-turq);
  margin: 16px 0;
}

/* Sección "Sobre mí" */
.about-information {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  align-items: center;
}
@media(min-width: 768px){
  .about-information {
    margin-top: 60px;
    flex-direction: row;
    padding-top: 32px;
  }
}

.profile-image {
  border: 4px solid var(--color-accent-turq);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 24px;
}
@media(min-width: 768px){
  .profile-image {
    margin: 0 48px 0 0;
  }
}

.about-text {
  color: #edc1c9;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}
@media(min-width: 1200px){
  .about-text {
    font-size: 2.5rem;
  }
}


/* Experiencia */
.experience {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 32px;
  align-items: flex-start;
}

.job-card {
  border: none;
  text-align: left;
  color: var(--color-text-primary);
  background-color: var(--color-card-bg);
  padding: 24px;
  border-radius: 4px;
  font-size: 1rem;
  margin: 8px 0;
  width: 100%;
  line-height: 1.44;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 450px;
}



.job-card:hover {
  background-color: #2a2a2a;
}

@media(min-width: 768px){
  .job-card {
    margin: 8px;
    width: calc(50% - 16px);
    font-size: 1.125rem;
  }
}

.job-card-video {
  aspect-ratio: 16/9;
  position: relative;
  margin-left: -24px;
  margin-top: -24px;
  width: calc(100% + 48px);
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.job-card-video video {
  width: 100%;
  filter: grayscale(50%);
  transition: filter 0.3s;
}

.job-card:hover .job-card-video video {
  filter: grayscale(0);
}

.video-additional-info {
  display: flex;
  position: relative;
  padding: 12px 24px;
  background-color: rgba(30, 30, 30, 0.8);
  top: -50px;
  margin-bottom: -52px;
  font-size: .875rem;
}

.video-additional-info .icon {
  margin-right: 2px;
}

.video-additional-info > div {
  margin-right: 16px;
}

.clickable-card-header {
  color: var(--color-accent-pink);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 4px;
  margin-top: 16px;
}
.job-card:hover .clickable-card-header {
  color: #f7e6e9;
}
.clickable-card-header .clickable-header-icon {
  margin-left: auto;
}
.clickable-card-header small {
  display: block;
  width: 100%;
  font-weight: 400;
  color: var(--color-accent-turq);
  font-size: 1rem;
}

/* Educación */
.education-card {
  border: none;
  text-align: left;
  color: var(--color-text-primary);
  background-color: var(--color-card-bg);
  padding: 24px;
  border-radius: 4px;
  font-size: 1rem;
  margin: 8px 0;
  width: 100%;
  line-height: 1.44;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Habilidades */
.badge-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 8px 0 0;
  margin-bottom: 32px;
}

.badge-list .badge {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-accent-pink);
  border: 1px solid var(--color-accent-pink);
  border-radius: 8px;
  padding: 8px;
  white-space: nowrap;
  margin: 0 4px 16px;
}

/* Sección final sobre mi */
.information-section {
  position: relative;
  background: var(--color-about-bg);
  color: var(--color-background-dark);
  padding: 32px 16px;
  margin-left: -16px; 
  margin-right: -16px; 
}

@media(min-width: 768px){
  .information-section {
    padding: 32px 0;
    margin-left: 0;
    margin-right: 0;
  }

  .information-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-50vw + 50%);
    width: 100vw;
    height: 100%;
    background: var(--color-about-bg);
    z-index: 0;
  }
}

.information-header, .information-text {
  position: relative;
  z-index: 1; /* Asegura que el texto esté sobre el pseudo-elemento de fondo */
}

.information-header {
  color: var(--color-background-dark);
  font-size: 2rem;
}

.information-text {
  font-size: 1rem;
  line-height: 1.44;
}

@media(min-width: 768px){
  .information-text {
    padding: 0 32px;
    font-size: 1.5rem;
  }
}